// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import 'global/utils/init';

@font-face {
  font-family: 'Nodesto';
  src: url('../assets/fonts/NodestoCapsCondensed.otf');
}

// Preload assets.
.archmage-preload {
  background: url('../assets/ricepaper2_@2X.webp') -9999px -9999px;
  pointer-events: none;
}


// Nodesto Font

.nodesto {
  color: $c-gray;
  font-family: $font-stack-base;
  font-size: 18px;
}

@import 'global/archmage-global';
@import 'global/archmage-prepopulate';
@import 'global/tables';


/* ----------------------------------------- */
/*  Context Dropdown Menu
/* ----------------------------------------- */
#context-menu2 {
  width: 100%;
  height: max-content;
  min-width: 200px;
  max-width: 360px;
  position: absolute;
  left: 0;
  background: #23221d;
  border: 1px solid #000;
  border-radius: 5px;
  color: #EEE;
  z-index: 31;
}
#context-menu2.expand-down {
  top: calc(100% + 2px);
}
#context-menu2.expand-up {
  bottom: calc(100% + 2px);
}
#context-menu2 ol.context-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#context-menu2 li.context-item {
  padding: 0 5px;
  line-height: 32px;
  text-shadow: none;
}
#context-menu2 li.context-item:hover {
  color: #FFF;
  text-shadow: 0 0 4px red;
}
#context-menu2 li.context-item > i {
  margin-right: 5px;
}
.window-app #context-menu2 {
  z-index: 101;
}